/* src/components/Header.css */
.header {
    position: relative;
    text-align: center;
    color: white;
    padding: 20px;
    background-color: #282c34;
  }
  
  .animated-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid white;
    width: 0;
    animation: typing 4s steps(40, end) infinite, blink-caret 0.75s step-end infinite;
  }
  
  @keyframes typing {
    0% { width: 0; }
    50% { width: 100%; }
    100% { width: 0; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
  }
  
  .profile-container {
    position: relative;
    margin-top: 20px;
  }
  
  .profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50px; /* Adjust this value to control how much of the circle is outside the banner */
}
  
  .nav-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .nav-icons a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 24px;
  }